.mainOuter{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.signUpOuter{
    margin: 60px;
    flex-direction: column;
    width: 680px;
    height: 785px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #252836;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 67px;
    padding-bottom: 66px;
}

.signUpH2{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
}

.loginSignUpTxt{
    color: #676767;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.5px;
}

.loginSignUpAnc{
    color: #6B5DCC;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.descSignUp{
    color: #FFF;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 111.111% */
    letter-spacing: 0.5px;
}

.signUpForm{
    flex-direction: column;
}

.labelTxt{
    margin-top: 13px;
    margin-bottom: 13px;
    color: #FFF;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 111.111% */
    letter-spacing: 0.5px;
}

.inputField{
    width: 539px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #303343;
    color: #676767;
    text-align: justify;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.5px;
    padding-left: 20px;
}

.signUpSpan{
    align-self: flex-end;
    color: #676767;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.5px;
}

.tcSignUp{
    display: inline-block;
    margin-top: 36px;
    margin-bottom: 10px;
    color: #6B5DCC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-decoration-line: underline;
}

.regBtn{
    align-self: flex-end;
    width: 133.688px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #6B5DCC;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
